* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Footer{
    height: auto;
    background-color: #0E4736;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
  }
  .Footer h2{
    padding-bottom: 25px;
    color: rgb(171, 207, 116);
  }
  .Footer li{
    padding:4px 0px ;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    color: white;
  }